/out.gif
/invoice.pdf
/invoice.pdf.json
/invoice.pdf.yaml
/invoice.pdf.yml

*.exe
*.exe~
*.dll
*.so
*.dylib

*.out

/invoice

/result
/.gopath/
/.direnv/

*.swp
*.swo
.vscode/
.idea/
.DS_Store

*.log

.env
.envrc
